body {
    margin: 0;
    padding: 0;
    text-align: center;
}
#title {
    font-size: 3em;
}
.title {
    font-size: 3em;
    text-shadow: 
    0.025em 0.025em 0 yellow, 
    0.05em 0.05em blue, 
    0.075em 0.075em red,
    0.1em 0.1em 0 black;
}
/* #increment-btn,
#save-btn,
#new-btn,
#reset-btn */
button {
    padding: 1% 2%;
    border-radius: 10px;
    background-color: transparent;
    font-size: 2em;
}
button:hover {
    box-shadow: 0px 5px 5px 0px
}
#count-el {
    font-size: 5em;
    text-shadow: 
        0.025em 0.025em 0 yellow, 
        0.05em 0.05em blue, 
        0.075em 0.075em red,
        0.1em 0.1em 0 black;

}
.repcounter {
    font-size: 5em;
    padding-bottom: 2%;
    border-bottom: 5px black solid;
    width: 30%;
    margin: 0 auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 2em;
    color: black;
}
a:hover {
    text-decoration: underline;
}
.buttons {
    padding: 5%;
}
.display {
    padding: 1%;
}
.display > span {
    text-decoration: underline;
    padding: 5%;
    font-size: 2em;
}